body {
    font-family: 'Arial', sans-serif;
    background-color: #17b9dd;
    color: #333;
    margin: 20px;
    text-align: center;
  }

  figure {
    width: 20rem;
    height: auto;
    margin: 0 auto;
  }

  img {
    width: 100%;
  }